n8n-workflows/01-onboarding.json
{
  "name": "Psicotestes — Onboarding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "psicotestes-onboarding",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: 'Psicotestes Policiais <noreply@psicotestespoliciais.com.br>', to: $json.body.email, subject: 'Bem-vindo ao Psicotestes Policiais! 🎯', html: '<div style=\"font-family: sans-serif; max-width: 600px; margin: 0 auto;\"><h1 style=\"color: #1a2332;\">Olá, ' + $json.body.nome + '!</h1><p style=\"color: #666; font-size: 16px;\">Você está a um passo de se preparar para o psicotécnico do seu concurso policial.</p><p style=\"color: #666; font-size: 16px;\">Comece agora fazendo seu diagnóstico inicial — leva apenas 5 minutos e vamos criar um plano personalizado para você.</p><a href=\"{{URL_DO_APP}}/onboarding\" style=\"display: inline-block; padding: 12px 24px; background-color: #3b82f6; color: white; text-decoration: none; border-radius: 8px; font-weight: bold; margin-top: 16px;\">Começar Diagnóstico →</a><p style=\"color: #999; font-size: 12px; margin-top: 32px;\">Psicotestes Policiais — Criado por psicólogo especialista</p></div>' }) }}",
        "options": {}
      },
      "name": "Email Boas-Vindas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Resend API Key"
        }
      }
    },
    {
      "parameters": {
        "amount": 24,
        "unit": "hours"
      },
      "name": "Aguardar 24h",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/diagnosticos?select=id&user_id=eq.{{ $json.body.user_id }}&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Verificar Diagnóstico",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 300],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "name": "Sem Diagnóstico?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: 'Psicotestes Policiais <noreply@psicotestespoliciais.com.br>', to: $json.body.email, subject: 'Falta pouco! Complete seu diagnóstico 📊', html: '<div style=\"font-family: sans-serif; max-width: 600px; margin: 0 auto;\"><h1 style=\"color: #1a2332;\">Ainda não fez seu diagnóstico?</h1><p style=\"color: #666; font-size: 16px;\">Leva apenas 5 minutos e vamos criar um plano de treino personalizado para o seu concurso.</p><a href=\"{{URL_DO_APP}}/onboarding\" style=\"display: inline-block; padding: 12px 24px; background-color: #3b82f6; color: white; text-decoration: none; border-radius: 8px; font-weight: bold;\">Fazer Diagnóstico Agora →</a></div>' }) }}",
        "options": {}
      },
      "name": "Email Lembrete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1500, 250],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Resend API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true }) }}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [500, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Email Boas-Vindas", "type": "main", "index": 0 },
          { "node": "Respond", "type": "main", "index": 0 }
        ]
      ]
    },
    "Email Boas-Vindas": {
      "main": [
        [{ "node": "Aguardar 24h", "type": "main", "index": 0 }]
      ]
    },
    "Aguardar 24h": {
      "main": [
        [{ "node": "Verificar Diagnóstico", "type": "main", "index": 0 }]
      ]
    },
    "Verificar Diagnóstico": {
      "main": [
        [{ "node": "Sem Diagnóstico?", "type": "main", "index": 0 }]
      ]
    },
    "Sem Diagnóstico?": {
      "main": [
        [{ "node": "Email Lembrete", "type": "main", "index": 0 }],
        []
      ]
    }
  }
}
