n8n-workflows/03-pagamentos.json
{
  "name": "Psicotestes — Notificações de Pagamento",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "psicotestes-pagamentos",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.event_type }}",
              "operation": "equal",
              "value2": "checkout_completed"
            }
          ]
        }
      },
      "name": "Checkout?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: 'Psicotestes Policiais <noreply@psicotestespoliciais.com.br>', to: $json.body.user_email, subject: '✅ Pagamento confirmado! Acesso liberado', html: '<div style=\"font-family: sans-serif; max-width: 600px; margin: 0 auto;\"><h1 style=\"color: #1a2332;\">Parabéns, ' + $json.body.user_nome + '!</h1><p style=\"color: #666; font-size: 16px;\">Seu pagamento foi confirmado e seu acesso completo já está liberado.</p><p style=\"color: #666; font-size: 16px;\">Agora você tem acesso a todos os exercícios, níveis de dificuldade e relatórios detalhados.</p><a href=\"{{URL_DO_APP}}/dashboard\" style=\"display: inline-block; padding: 12px 24px; background-color: #22c55e; color: white; text-decoration: none; border-radius: 8px; font-weight: bold; margin-top: 16px;\">Acessar Plataforma →</a><p style=\"color: #999; font-size: 12px; margin-top: 32px;\">Psicotestes Policiais — Criado por psicólogo especialista</p></div>' }) }}",
        "options": {}
      },
      "name": "Email Confirmação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 200],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Resend API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.event_type }}",
              "operation": "equal",
              "value2": "payment_failed"
            }
          ]
        }
      },
      "name": "Falha?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [750, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: 'Psicotestes Policiais <noreply@psicotestespoliciais.com.br>', to: $json.body.user_email, subject: '⚠️ Problema com seu pagamento', html: '<div style=\"font-family: sans-serif; max-width: 600px; margin: 0 auto;\"><h1 style=\"color: #1a2332;\">Houve um problema com seu pagamento</h1><p style=\"color: #666; font-size: 16px;\">Não conseguimos processar a cobrança da sua assinatura. Por favor, verifique seus dados de pagamento para não perder o acesso.</p><a href=\"{{URL_DO_APP}}/perfil\" style=\"display: inline-block; padding: 12px 24px; background-color: #ef4444; color: white; text-decoration: none; border-radius: 8px; font-weight: bold; margin-top: 16px;\">Atualizar Pagamento →</a><p style=\"color: #999; font-size: 12px; margin-top: 32px;\">Psicotestes Policiais — Criado por psicólogo especialista</p></div>' }) }}",
        "options": {}
      },
      "name": "Email Falha Pagamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 400],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Resend API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: 'Psicotestes Policiais <admin@psicotestespoliciais.com.br>', to: 'william@psicotestespoliciais.com.br', subject: '🔔 Novo pagamento: ' + $json.body.user_nome, html: '<div style=\"font-family: sans-serif;\"><h2>Novo pagamento recebido</h2><p><strong>Usuário:</strong> ' + $json.body.user_nome + '</p><p><strong>Email:</strong> ' + $json.body.user_email + '</p><p><strong>Produto:</strong> ' + $json.body.produto_nome + '</p></div>' }) }}",
        "options": {}
      },
      "name": "Notificar Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 100],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Resend API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true }) }}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [500, 550]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Checkout?", "type": "main", "index": 0 },
          { "node": "Respond", "type": "main", "index": 0 }
        ]
      ]
    },
    "Checkout?": {
      "main": [
        [
          { "node": "Email Confirmação", "type": "main", "index": 0 },
          { "node": "Notificar Admin", "type": "main", "index": 0 }
        ],
        [{ "node": "Falha?", "type": "main", "index": 0 }]
      ]
    },
    "Falha?": {
      "main": [
        [{ "node": "Email Falha Pagamento", "type": "main", "index": 0 }],
        []
      ]
    }
  }
}
