n8n-workflows/05-relatorio-candidato.json
{
  "name": "Psicotestes — Relatório Semanal Candidato",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtDay": 5,
              "triggerAtHour": 18
            }
          ]
        }
      },
      "name": "Toda Sexta 18h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/profiles?select=id,nome,email&plano=neq.gratuito",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Buscar Usuários Pagantes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Loop Usuários",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/rpc/weekly_user_stats",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_user_id: $json.id }) }}",
        "options": {}
      },
      "name": "Buscar Stats Usuário",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 300],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: 'Psicotestes Policiais <noreply@psicotestespoliciais.com.br>', to: $json.email, subject: '📈 Seu progresso semanal — Psicotestes Policiais', html: '<div style=\"font-family: sans-serif; max-width: 600px; margin: 0 auto;\"><h1 style=\"color: #1a2332;\">Olá, ' + $json.nome + '!</h1><p style=\"color: #666; font-size: 16px;\">Confira como foi sua semana de treino:</p><table style=\"width: 100%; border-collapse: collapse; margin-top: 16px;\"><tr style=\"background: #f3f4f6;\"><td style=\"padding: 12px; font-weight: bold;\">Exercícios realizados</td><td style=\"padding: 12px; text-align: right;\">' + ($json.exercicios_semana || 0) + '</td></tr><tr><td style=\"padding: 12px; font-weight: bold;\">Dias treinados</td><td style=\"padding: 12px; text-align: right;\">' + ($json.dias_treinados || 0) + '/7</td></tr><tr style=\"background: #f3f4f6;\"><td style=\"padding: 12px; font-weight: bold;\">Precisão média</td><td style=\"padding: 12px; text-align: right;\">' + ($json.precisao_media || 0) + '%</td></tr><tr><td style=\"padding: 12px; font-weight: bold;\">Melhor constructo</td><td style=\"padding: 12px; text-align: right;\">' + ($json.melhor_constructo || '-') + '</td></tr></table><p style=\"color: #666; font-size: 16px; margin-top: 16px;\">Continue treinando para manter sua evolução!</p><a href=\"{{URL_DO_APP}}/progresso\" style=\"display: inline-block; padding: 12px 24px; background-color: #3b82f6; color: white; text-decoration: none; border-radius: 8px; font-weight: bold; margin-top: 16px;\">Ver Progresso Completo →</a><p style=\"color: #999; font-size: 12px; margin-top: 32px;\">Psicotestes Policiais — Criado por psicólogo especialista</p></div>' }) }}",
        "options": {}
      },
      "name": "Email Relatório",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 300],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Resend API Key"
        }
      }
    }
  ],
  "connections": {
    "Toda Sexta 18h": {
      "main": [
        [{ "node": "Buscar Usuários Pagantes", "type": "main", "index": 0 }]
      ]
    },
    "Buscar Usuários Pagantes": {
      "main": [
        [{ "node": "Loop Usuários", "type": "main", "index": 0 }]
      ]
    },
    "Loop Usuários": {
      "main": [
        [{ "node": "Buscar Stats Usuário", "type": "main", "index": 0 }],
        []
      ]
    },
    "Buscar Stats Usuário": {
      "main": [
        [{ "node": "Email Relatório", "type": "main", "index": 0 }]
      ]
    }
  }
}
